{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template theme_president/courses_page

    Full courses listing page with pagination
}}

<div class="courses-page-container">
    <div class="courses-page-header">
        <h1>{{page_title}}</h1>
        {{#has_courses}}
        <p class="courses-count">
            Showing {{showing_start}} - {{showing_end}} of {{total_courses}} courses
        </p>
        {{/has_courses}}
    </div>

    {{#has_courses}}
    <div class="courses-grid">
        {{#courses}}
            {{> theme_president/president_coursecard }}
        {{/courses}}
    </div>

    {{#has_pagination}}
    <div class="courses-pagination">
        <nav aria-label="Course pagination">
            <ul class="pagination">
                {{#pagination.has_prev}}
                <li class="page-item">
                    <a class="page-link" href="{{pagination.prev_url}}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                {{/pagination.has_prev}}

                {{^pagination.has_prev}}
                <li class="page-item disabled">
                    <span class="page-link">&laquo;</span>
                </li>
                {{/pagination.has_prev}}

                {{#pagination.pages}}
                    {{#ellipsis}}
                    <li class="page-item disabled">
                        <span class="page-link">...</span>
                    </li>
                    {{/ellipsis}}

                    {{^ellipsis}}
                    <li class="page-item {{#active}}active{{/active}}">
                        <a class="page-link" href="{{url}}">{{number}}</a>
                    </li>
                    {{/ellipsis}}
                {{/pagination.pages}}

                {{#pagination.has_next}}
                <li class="page-item">
                    <a class="page-link" href="{{pagination.next_url}}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
                {{/pagination.has_next}}

                {{^pagination.has_next}}
                <li class="page-item disabled">
                    <span class="page-link">&raquo;</span>
                </li>
                {{/pagination.has_next}}
            </ul>
        </nav>
    </div>
    {{/has_pagination}}
    {{/has_courses}}

    {{^has_courses}}
    <div class="courses-empty-state">
        <div class="empty-icon">
            <i class="fa fa-graduation-cap"></i>
        </div>
        <h3>{{#str}}nocoursesfound, theme_president{{/str}}</h3>
        <p>Check back later for available courses.</p>
        <a href="{{config.wwwroot}}" class="btn btn-primary">
            <i class="fa fa-home me-2"></i>Back to Home
        </a>
    </div>
    {{/has_courses}}
</div>
