<div class="box py-3 generalbox alert alert-warning">
    <div class="mb-2 mt-1 d-flex alert-heading">
        <span><i class="icon fa fa-circle-info fa-fw " aria-hidden="true"></i></span>
        <h3 class="h6 mb-0">{{#str}}supportandservices, admin{{/str}}</h3>
    </div>
    <p>{{#str}}themedevelopedby, theme_president{{/str}} <a href="https://tiancode.my.id">tiancode.my.id</a> {{#str}}themedevelopedbytiancode, theme_president{{/str}}</p>
    <p>{{#str}}needsupport, theme_president{{/str}} <a href="https://tiancode.my.id">{{#str}}contactus, theme_president{{/str}}.</a> {{#str}}pleasuretohelp, theme_president{{/str}}</p>
    <a href="https://tiancode.my.id">
        <img style="width: 400px;" class="img-fluid" src="{{config.wwwroot}}/theme/president/pix/tiancode.svg" alt="Logo tiancode.my.id">
    </a>
</div>